html, body {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}


#home {
    background-image: linear-gradient(rgb(69, 34, 150,0.5),rgb(69, 34, 150,0.5)),url("/images/background.jpg");
    background-size: cover;
    margin-bottom: 1rem;
    width: 100%;
    
}

.mainnav {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    
}


.container-fluid {
    margin: 3% 10%;
}

.navbar .navbar-brand{
    font-size: 1.6rem;
    color: #3D2C8D;
    font-weight: 600;
}

.nav-item {
    font-size: 1.5rem;
    color: #3D2C8D;
}

.navbar .navbar-nav .nav-item a {
    color: #3D2C8D;
    font-weight: 600;
    border-radius: 25px;

}
.navbar .navbar-nav .nav-item a:hover {
    background-color: #3D2C8D;
    color: white;
    border-radius: 25px;
}
.navbar .navbar-nav .nav-item a:active {
    background-color: #3D2C8D;
    color: white;
    border-radius: 25px;
}
.navbar-toggler {
    background-color: #3D2C8D;
    border-radius: 25px;
    padding: auto;

}


.navbar-toggler-icon {
    width: 1.2rem;
    color: white;
    margin: auto;
}
.container-home {
    text-align: center;
    margin-bottom: 1rem;
    padding: 5rem;
}

.container {
    color: #3D2C8D;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 5rem;
}
.container .heading {
    position: relative;
}
.container h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container p {
    text-align: center;
    color: rgb(59, 58, 58);
    width: 100%;
}

.container hr {
    
    height: 0.5rem;
    width: 50%;
    text-align: right;
    border-bottom: none;
    border-radius: 5px;
    border-color: #27186b;
    margin-top: 0;
    opacity: 1;
    position: relative;
    left: 35%;
   
}

#services .row .col-lg-4 {
    text-align: center;
}

#services .service-image {
    background-color: #3D2C8D;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto;
    width: 5rem;
    height: 5rem;
    
}
.service-image img {
    margin: 1rem auto;
    width: 65%;
    height: 65%;
    outline-color: invert;
    text-align: center;
}
.container-project {
    color: #3D2C8D;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 ;
}
.container-project h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container-project .heading{
    position: relative;
}
.container-project hr {
    
    height: 0.5rem;
    width: 40%;
    text-align: right;
    border-bottom: none;
    border-radius: 5px;
    border-color: #27186b;
    margin-top: 0;
    opacity: 1;
    position: relative;
    left: 35%;
   
}
.our-story {
    width: 100%;
    margin: auto;
}
.image-container {
    background-color: whitesmoke;
    width: 100%;
    height: 80%;
    margin: 2rem auto;
}
.image-container .row {
    padding: 1rem;
    height: auto;
    margin: auto;
    
}
.image-container .first img {
    padding: 2rem 1rem 1rem;
    margin: 1rem;
    width: 100%;
    height: 100%;
    
}

.image-container .second img {
    padding: 2rem 1rem 3rem;
    margin: 1rem 1rem 3rem;
    width: 100%;
    height: 100%;
}
#testimony h1 {
    text-align: center;
}

#testimony hr {
    height: 0.5rem;
    width: 60%;
    text-align: right;
    border-bottom: none;
    border-radius: 5px;
    border-color: #27186b;
    margin-top: 0;
    opacity: 1;
    position: relative;
    left: 25%;
}
#testimony .row {
    padding: 1rem;
}
.testimony-image {
    width: 8rem;
    height: 8rem;
    margin: auto;
    
}
.testimony-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.container-records {
    margin: 0 auto;
    padding: auto;
    text-align: center;
}
.record {
    width: 80%;
    height: 80%;
    background-color: #3D2C8D;
    border-radius: 80%;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

.col-lg-3 {
    padding: 1rem;
    text-align: center;
}
.record .number {
    color: white;
    margin:0;
    font-size: 2.5rem;
    font-weight: 600;
}
.record p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.container-request {
    background-color: #3D2C8D;
    width: 100%;
    height: auto;
    padding: 3rem 1rem 0 1rem;
    margin-bottom: 1rem;
}
.container-request h4 {
    font-size: 2rem;
    font-weight: 700;
}
.container-request .row {
    padding-bottom: 0;
    margin-bottom: 2rem;
}
.container-request p {
    font-size: 1.5rem;
    line-height: 1.5;
}
.btn {
    color: white;
    background-color: #533faa;
    border-radius: 25px;
    font-size: 1.2rem;
    margin: 0.5rem;
}
.container-request img {
    width: 70%;
    height:70%;
    margin: 0;
    padding-top: 1rem;
}
.logo-container img {
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.logo-container .col-lg-2 {
    padding: 0.5rem;
}
footer {
    background-color: #3D2C8D;
    text-align: center;
    height: auto;
    padding: 50px 50px 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer .row .col-lg-4 {
    padding: auto;
}

footer .awinteck-info {
    text-align: start;
    margin: auto;
    width: 80%;
}

footer .useful-block {
    text-align: start;
    width: 80%;
    margin: auto;
}

footer .useful-block a{
     text-align: inherit;
     color: white;
     text-decoration: none;
}

footer .info-block {
    text-align: start;
    width: 80%;
    margin: auto;
}
footer .info-block ul {
    margin: 0;
    padding: 0;
}
footer .info-block li {
    list-style-type: none;
    
}
footer p {
    color: white;
    padding: 1rem;
    margin: 0;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */